body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./assets/fonts/LibreFranklin/LibreFranklin-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-Light.otf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/inter/Inter-Bold.otf');
  font-weight: bold;
  font-display: swap;
}
